{
  "extends": "stylelint-config-standard-scss",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$",
    },
    "rule-empty-line-before": [
      "always",
      {
        "ignore": ["inside-block","after-comment"]
      }
    ]
  }
}
