
// General styles

body {
  font-family: $font-family-sans-serif;
}

//----------Portada
//--portada basic
.league main {
  max-width: 45em;
  margin: 0 auto;
  position: relative;
  padding: 1em;
}

.league__title {
  font-size: calc(1em + 7vw);
  margin-bottom: 0.25em;
  width: 100vw;
  text-align: right;
}

.league__info-title {
  color: yellow;
  width: 100vw;
  text-align: right;
 }

.league__about {
  line-height: 1.3;
  margin-bottom: 1em;
}

a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 2em;
  font-weight: bold;
}

.league__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.league__schedule {
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: bold;
  background-color: wheat;
  position: absolute;
  width: 100vw;
  bottom: 0;
  padding-left: 2rem;
  padding-top: 1rem;
}

.league__info-button {
  border: 0;
  text-transform: uppercase;
  font-size: 100%;
  padding: 1em 2em;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

/* //--portada premium
@supports (display:grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    main {
      max-width: none;
      padding: 0;
      display: grid;
      grid-template-columns: 2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr) fit-content(28em) calc(2em + 0.5vw);
      grid-template-rows: 35vh 40vh 15vh 10vh;
    }

    h1 {
      grid-column: 3 / 6;
      grid-row: 1 / 2;
      z-index: 2;
      padding-left: 0.25em;
      margin-bottom: initial;
    }

    h2 {
      grid-row: 1 / -1;
      grid-column: 6 / 7;
      writing-mode: vertical-rl;
      margin-bottom: initial;
    }

    hr {
      grid-column: 5 / 6;
      grid-row: 2;
      height: 6px;
      width: 20ch;
    }

    .about {
      grid-column: 5 / 6;
      grid-row: 2;
      align-self: end;
      padding-bottom: 4vh;
      margin-bottom: initial;
    }

    a {
      grid-column: 5 / 6;
      justify-self: end;
      align-self: center;
      margin-bottom: initial;

      &::before {
        content: '';
        display: block;
        height: 4px;
        width: 4ch;
        margin-bottom: 1em;
      }
    }

    img {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }

    .location {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      z-index: 2;
      text-align: center;
      display: flex;

      p {
        margin: auto;
      }
    }

    button {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      position: initial;
      padding: 0;
    }
  }

  @media (min-width: 48em) and (min-height: 27em) {
    hr {
      opacity: 1;
    }
  }
} */