
// General styles
body {
  font-family: $font-family-sans-serif;
  min-height: 100vh;
}

nav{
  padding-left: 2vw !important;
  padding-right: 2vw !important;
}

main {
  min-height: 88vh;
}

.header {
  background-color: $color-background-headers;
  color: $color-text-headers;
  padding: 10px;
}

// footer
footer nav {
  margin-top: 10px;
  height: 4dvh;
  min-height: 50px;
}

@media (width <= 990px) {
 
.navbar-collapse {
  position: fixed;
  top: 50px;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100dvw;
  background-color: white;
  color: black;
}
  .nav-link {
    color: black !important;
  }
}


.navbar-collapse.collapsing {
  left: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  left: 0;
  transition: left 300ms ease-in-out;
}

.navbar-toggler.collapsed~.navbar-collapse {
  transition: left 500ms ease-in-out;
}
