
.participantes {

    .participants{
      display: flex;
      flex-wrap: wrap;
      justify-content:space-around;
      padding: 20px;
    }
    .participant__card {
      flex-grow: 1;
      background-color: white;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      margin: 10px;
      padding: 20px;
      max-width: 300px; 
      min-width: 150px;
      box-sizing: border-box; 
    }
    .participant__card-name  {
    font-size: 20px;
    font-weight: bold;
    }
    .participant__card-info {
    margin-top: 10px;
    }

    @media (width <= 800px) {
        .participant__card {
          flex: 1 1 calc(33.33% - 20px); 
        }
      }

    @media (width <= 600px) {
    .participant__card {
        flex: 1 1 calc(50% - 20px); 
    }
    }
  }
  
  
  
  